<br><br>
<div class="col-sm-2 col-sm-offset-10 col-md-6 col-md-offset-3">
	<div class="create_test">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<center><h1>Testimony Index</h1></center>
					<br>
						<table id="stories-table" class="table table-hover">
							<thead>
								<th>Name</th> 
								<th>Title</th>  
								<th>View</th> 
								<th></th>
								<th></th> 
							</thead>	
							<tbody>
								<%= render @stories %>
							</tbody>
							
						</table>
				</div>
			</div>
		</div>
	</div>
</div>
