<br><br>
<div class="col-sm-2 col-sm-offset-10 col-md-6 col-md-offset-3">
	<div class="create_test">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<h1>Testimony</h1>
						<article>
						  <h4><b>Name:</b> <%= @story.name %></h4>
						  <h4><b>Title:</b> <%= @story.title %></h4>
						  <p><%= @story.content %></p>
						</article>
				</div>
			</div>
		</div>
	</div>
</div>

